// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

button {
  display: block;
  width: 100%;
  font-weight: bold;
  line-height: 2em;
  font-size: 1.6rem;
  margin-bottom: 1em;
}

.task {
  .value {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    display: block;
    margin: 1em 0;
  }

  .correct {
    color: blue;
  }

  .incorrect {
    color: red;
  }
}

.score {
  b {
    font-size: 1.6em;
  }
  font-size: 2em;
  margin: 1em 0;
  text-align: center;
}
